In [108]:
import itertools
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.pyplot as plt

In [77]:
dataset= pd.read_csv('days_dataset.csv')

In [78]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [85]:
print(X)

[['MEDIUM' 'NORMAL' 'NORMAL' 'LOW']
 ['NORMAL' 'LOW' 'HIGH' 'HIGH']
 ['NORMAL' 'LOW' 'NORMAL' 'NORMAL']
 ...
 ['HIGH' 'HIGH' 'MEDIUM' 'HIGH']
 ['MEDIUM' 'NORMAL' 'LOW' 'NORMAL']
 ['MEDIUM' 'NORMAL' 'NORMAL' 'NORMAL']]

In [86]:
dataset.count()

temperature_status    5000
humidity_status       5000
vibrations_status     5000
speed_status          5000
Days                     0
dtype: int64

In [95]:
x=np.array(X)

In [104]:
def calculate_days(row):
    status_values = row[['temperature_status', 'humidity_status', 'vibrations_status','speed_status']]
    count_dict = {'HIGH': 0, 'MEDIUM': 0, 'LOW': 0, 'NORMAL': 0}

    for value in status_values:
        count_dict[value] += 1

    if count_dict['HIGH'] >= 2:
        return 3
    elif count_dict['LOW'] >= 2:
        return 7
    elif count_dict['MEDIUM'] >= 2 or count_dict['NORMAL'] >= 2:
        return 14
    else:
        return 30

In [105]:
dataset['Days'] = dataset.apply(calculate_days, axis=1)

In [106]:
dataset.head()

,temperature_status,humidity_status,vibrations_status,speed_status,Days,Days
0,MEDIUM,NORMAL,NORMAL,LOW,NaN,14
1,NORMAL,LOW,HIGH,HIGH,NaN,3
2,NORMAL,LOW,NORMAL,NORMAL,NaN,14
3,NORMAL,HIGH,HIGH,NORMAL,NaN,3
4,MEDIUM,NORMAL,LOW,NORMAL,NaN,14

In [107]:
dataset.to_csv('Days.csv', index=False)